<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.LukeWolfram.StudentMarket</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.693053117231-u4b47ksih6uisiesf65tvmq6grinjfld</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>693053117231-u4b47ksih6uisiesf65tvmq6grinjfld.apps.googleusercontent.com</string>
</dict>
</plist>
